:root {
    --primary: #dd51ff;
    --primary-subtle: #eebefa;
    --bg: #2C3438;
    --bg-alt: #212A2E;
    --text: white;
    --text-subtle: #868e96;
}

* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    background-color: var(--bg);
    font-family: 'Atkinson Hyperlegible', sans-serif;
    font-size: 1.1em;
    color: var(--text);
}

h1 {
    color: var(--primary);
    font-size: 1.7em;
}

a {
    color: var(--primary);
    text-decoration: underline;
}

a:hover {
    text-decoration: none;
}

details {
    margin: 15px 0;
}

summary {
    margin-bottom: 10px;
}

img {
    max-width: 100%;
}

.bugleicon {
    height: 30px;
    width: 30px;
    margin-right: 10px;
}

.wrapper {
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.main {
    grid-area: 1 / 2 / 2 / 5;
}

.footer {
    grid-area: 2 / 1 / 3 / 5;
    text-align: center;
    background: var(--bg-alt);
}

.public .wrapper {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
}

.public .main {
    grid-area: auto;
}

.sidebar {
    background-color: var(--bg-alt);
    grid-area: 1 / 1 / 2 / 2;
}

.public .sidebar {
    display: none;
}

.sidebar__profile {
    display: flex;
    align-items: center;
    padding: 10px;
    text-decoration: none;
    color: var(--text);
}

.sidebar__profile.active,
.sidebar__profile:hover {
    background-color: var(--primary-subtle);
    color: var(--bg-alt);
}

.sidebar__profile__image {
    height: 45px;
    width: 45px;
    border-radius: 45px;
    margin-right: 10px;
    border: 2px solid var(--text);
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar__profile__username {
    color: var(--text-subtle);
}

.nav {
    height: 65px;
    width: 100%;
    background-color: var(--bg-alt);
    color: var(--text);
    grid-area: 1 / 1 / 2 / 5;
}

.nav__wrapper {
    padding: 0 20px;
    height: 100%;
    max-width: 800px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav__title {
    font-weight: bold;
    font-size: 1.3em;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--text);
}

.nav__title:hover {
    color: var(--primary);
}

.nav__links {
    text-transform: uppercase;
    font-size: 0.8em;
}

.nav__links a {
    text-decoration: none;
}

.nav__links a:first-child {
    margin-right: 10px;
}

.nav__links a:hover {
    text-decoration: underline;
}

.public .nav__wrapper,
.public .content {
    max-width: 800px;
    margin: 0 auto;
}

.content {
    padding: 0 10px 10px 10px;
    max-width: 800px;
}

@media (max-width: 1000px) {
    body {
        font-size: 1em;
    }
    .wrapper {
        grid-template-columns: 55px auto;
    }

    .sidebar {
        padding-top: 10px;
    }

    .sidebar__profile__image {
        margin-right: 0;
        width: 35px;
        height: 35px;
    }

    .sidebar__profile__meta {
        display: none;
    }
}

.pagination {
    margin: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
