.profile {
    background-color: #212A2E;
    border-radius: 3px;
    margin-bottom: 10px;
}

.profile__image {
    height: 150px;
    overflow: hidden;
    position: relative;
    z-index: 1;
    border-bottom: 1px solid var(--primary);
}

.profile__image img {
    object-fit: cover;
    display: block;
    width: 100%;
    height: 100%;
    margin: 0;
    z-index: 1;
}

.profile__avatar {
    text-align: center;
    margin-top: -50px;
    z-index: 2;
    position: relative;
}

.profile__avatar img {
    border-radius: 50px;
    border: 2px solid var(--primary);
}

.profile__container {
    padding: 10px;
}

.profile__name {
    text-align: center;
    margin-top: 0;
}

.profile__links {
    margin: 0 auto;
}

.profile__link {
    font-size: 0.8em;
    text-transform: uppercase;
    display: block;
}

.subscribe {
    display: flex;
    margin-bottom: 10px;
    font-size: 0.9em;
    justify-content: space-evenly;
}

.subscribe__button {
    text-decoration: none;
    color: var(--text);
    background-color: var(--bg-alt);
    border: 1px solid var(--text-subtle);
    padding: 5px 10px;
    border-radius: 3px;
}

.subscribe__button:hover {
    color: var(--primary);
    border-color: var(--primary);
}
