.toot {
    background-color: var(--bg-alt);
    padding: 10px;
    border-radius: 3px;
    margin-bottom: 10px;
}

.toot.compact {
    padding: 1px 10px;
    font-size: 0.9em;
}

.toot-reply {
    border-left: 1px solid var(--primary-subtle);
    padding-left: 10px;
}

.toot__profile {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.toot__profile__image {
    height: 50px;
    border: 2px solid var(--text);
    border-radius: 50px;
    margin-right: 10px;
}

.toot__profile__name {
    font-weight: bold;
    text-decoration: none;
    color: var(--text);
}

.toot__profile__name:hover {
    text-decoration: underline;
}

.toot__images {
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 5px;
}

@media (max-width: 700px) {
    .toot__images {
        grid-template-columns: repeat(2, 1fr);
    }
}

.toot__images img {
    max-width: 100%;
}

.toot__profile__date {
    font-size: 0.8em;
    color: var(--text-subtle);
}

.toot__boosts {
    color: var(--text-subtle);
    font-size: 0.9em;
    padding-top: 5px;
    display: flex;
    justify-content: space-evenly;
}
