[req]
distinguished_name = req_distinguished_name
req_extensions = v3_req

[req_distinguished_name]
countryName = GB
countryName_default = GB
stateOrProvinceName = Hampshire
stateOrProvinceName_default = Hampshire
localityName = Portsmouth
localityName_default = Portsmouth
organizationalUnitName = IT
organizationalUnitName_default = IT
commonName = bugle.test
commonName_max = 64

[ v3_req ]
# Extensions to add to a certificate request
basicConstraints = CA:FALSE
keyUsage = nonRepudiation, digitalSignature, keyEncipherment
subjectAltName = @alt_names

[alt_names]
DNS.1 = bugle.test
DNS.2 = localhost
